<div>
  {%- if site.posts.size > 0 -%}
  <h2>{{ page.list_title | default: "Posts" }}</h2>
  <ul>
    {%- for post in site.posts -%}
    <li class="mt-4">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h5>
        <a href="{{ post.url | relative_url }}" style="text-decoration: none;"> {{ post.title | escape }} </a>
      </h5>
      <span>{{ post.date | date: date_format }}</span>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}
</div>