<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-md-6">
      <h2 class="text-center mt-5">WakaTime Stats</h2>
      <div class="row">
        <div class="col">
          <figure><embed
              src="https://wakatime.com/share/@Lorenzovectorcr/e51afb6a-5262-4280-a54d-6d28c106b795.svg"></embed>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <figure><embed
              src="https://wakatime.com/share/@Lorenzovectorcr/ba1f36b1-cf28-4b54-bee3-f95d73f419f4.svg"></embed>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <figure><embed
              src="https://wakatime.com/share/@Lorenzovectorcr/2472ac21-2094-4183-8989-d5f6e623183c.svg"></embed>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <figure><embed
              src="https://wakatime.com/share/@Lorenzovectorcr/4834fedd-22e2-4beb-b13c-c18c3c9b7941.svg"></embed>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col">
          <h2 class="text-center mt-5">Github Profile</h2>
          <div class="github-card" data-github="vectorcr" data-width="100%" data-height="" data-theme="default"></div>
          <br>
          <a href="https://lab.lepture.com/github-cards/">Need one of these cards! Click here 👍</a>
        </div>
        <a class="twitter-timeline" data-lang="en" data-height="300" data-theme="dark"
          href="https://twitter.com/grievercr_0?ref_src=twsrc%5Etfw">Tweets by grievercr_0</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <h2>Need to contact me?</h2>
        <span>
          <a href="https://www.linkedin.com/in/lvillacr/" target="_blank"> <i class="bi bi-linkedin"></i></a>
          <a href="https://discord.gg/GtzMK6yUsQ" target="_blank"><i class="bi bi-discord"></i></a>
          <a href="https://t.me/griever_0" target="_blank"><i class="bi bi-telegram"></i></a>
          <a href="https://wa.me/message/JIXYMFXFVSNZK1" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </span>
        <h5 class="mt-1">👆 Pick your preferred contact method 👆 </h5>
      </div>
    </div>
  </div>
</div>
</div>