<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
 {% include navbar.html %}
  {{ content }}
  <div class="container statblockbg">
      <div class="row">
          <div class="col-sm">
  <figure><embed src="https://wakatime.com/share/@Lorenzovectorcr/e51afb6a-5262-4280-a54d-6d28c106b795.svg"></embed></figure>
          </div>
          <div class="col-sm">
<figure><embed src="https://wakatime.com/share/@Lorenzovectorcr/2472ac21-2094-4183-8989-d5f6e623183c.svg"></embed></figure>
          </div>
      </div>
      <div class="container">
          <div class="row">
          <div class="col-sm">
<figure><embed src="https://wakatime.com/share/@Lorenzovectorcr/ba1f36b1-cf28-4b54-bee3-f95d73f419f4.svg"></embed></figure>
          </div>
          <div class="col-sm">
<figure><embed src="https://wakatime.com/share/@Lorenzovectorcr/4834fedd-22e2-4beb-b13c-c18c3c9b7941.svg"></embed></figure>
          </div>
          </div>
      </div>
  </div>

  </div>
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
{% include footer.html %}

</body>
</html>
