---
layout: default
---
<style>
    img {
        width: 80%;
        border: 5px dashed #B7C3F3;
        margin: 5rem;
    }

    code {
        font-size: 1rem;
        color: #B7C3F3;
        word-wrap: break-word;
        font-weight: 800 !important;
        font-family: "JetBrains Mono", monospace;
        font-style: italic !important;
    }
</style>

<body>
    <div class="container mt-5 mb-5">
        {{ content }}
    </div>
    <div class="container">
        {% include stats.html %}
    </div>
    {% include footer.html %}
</body>

</html>